/* CSS Template by Stanford Rosenthal http://rosenthal.co */

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&v2);

/* ----------------- site constants -----------------

Primary Color: 
	hex:	
	light:	 
	dark: 	

Secondary Color: 
	hex:	
	light:	 
	dark: 	

Tertiary Color: 
	hex:	
	light:	 
	dark: 	
	
Link Color hex: 
	

/* ----------------- Page Layout --------------- */

body {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #333;
	font-family: 'Lato', sans-serif;
/* 	@TODO: Find pattern */
	background-color:#555; 
}
#content {
	background-color:#fff;
	width:650px;
/* 	padding:20px 30px; */
	margin:1em auto 1ex auto;
	border-radius: 10px; -moz-border-radius: 10px;
	-moz-box-shadow: 0px 0px 20px #444; -webkit-box-shadow: 0px 0px 20px #444; box-shadow: 0px 0px 20px #444;
	overflow: hidden;
	padding-bottom: 2ex;
}


/* ----------------- Elements ----------------- */
header{
	background: #e9e9e9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#e7e7e7));
	background: #e9e9e9 -moz-linear-gradient(-90deg,#fcfcfc,#e7e7e7);
	width:100%;
	-moz-box-shadow: 0px 0px 2px #444; -webkit-box-shadow: 0px 0px 2px #444; box-shadow: 0px 0px 2px #444;
}

form{
	margin:1ex 1em;
}

footer{
	text-align: center;
	color: #ccc;
	font-weight: 100;
	font-size: 80%;
}
footer a{
	color: #bbb;
}
fieldset{
	margin:1em 0;
}
.field{
	line-height:1.8em;
}
label{
	width: 7em;
	display: block;
	float:left;
}
input, textarea{
	font-family: 'Lato', sans-serif;
}
input{
	width: 150px;
}

textarea{
	width: 25em;
	height: 10ex;
}


/* ----------------- Fonts ----------------- */


/* ----------------- Special Classes ----------------- */
header h1, header h2{
	padding: .5ex .5em .5ex .5em;
}
h1#project_name{
	float:left;
	margin: 0;
	font-size: 120%;
}
h2#company_name{
	float:right;
	font-size:90%;
	margin: .3em 0 0 0;
	letter-spacing:.1em;
	font-weight: 300;
}
h3#project_description{
	margin:.8em 2em;
	text-align: center;
	letter-spacing: normal;
	font-size:250%;
	line-height: 1.2em;
}

.invisible{
	display:none;
}


.rotate90{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	/*position: absolute*/;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* ----------------- Content ----------------- */

.action_buttons{
	text-align: center;
	margin:2em;
}
.action_buttons li{
	display: inline;
	margin: 0 .5em;
}


/* ----------------- tool tips ----------------- */

.help_tag{
	font-size:80%;
	cursor:help;
	color:blue;
}

/* ----------------- buttons ----------------- */

.button, .button:visited {
	background: #222 url('../../images/overlay.png') repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	letter-spacing: .04em;

}
.small.button, .small.button:visited{ font-size: 11px}
.button, .button:visited, .medium.button, .medium.button:visited{ 
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited{
	font-size: 14px;
	padding: 8px 14px 9px; 
}

.huge.button, .huge.button:visited{ 
	font-size: 34px;
	padding: 8px 14px 9px; 
}
a.button.green, .button.green:visited{
	background-color: #37b900;
}
a.button.green:hover{
	background-color: #32a900;
}
a.button.gray, .button.gray:visited{
	background-color:#999;
}
a.button.gray:hover, .button.gray.hover{
	background-color:#888;
}


/* ----------------- lightbox ----------------- */
/* only used for first_order in design/view for now */
.lightbox{
	z-index:1000;
	background-color: #fff;
	position: absolute;
	width: 500px;
	margin:40px;
	margin-top:40px;
	padding:20px;
	border-radius: 10px; -moz-border-radius: 10px;
	-moz-box-shadow: 5px 5px 10px #000; -webkit-box-shadow: 5px 5px 10px #000; box-shadow: 5px 5px 10px #000;
	
}
.lightbox p{
	margin:1em 0;
}

/* ------------- Image Selector -------------- */
ul.images li{
	text-align: center;
	overflow: hidden;
	float:left;
	padding:10px;
	cursor:pointer;
	border-radius: 10px; -moz-border-radius: 10px;
}

ul.images li:hover{
	box-shadow: 0px 0px 20px #bbb; -moz-box-shadow: 0px 0px 20px #bbb; -webkit-box-shadow: 0px 0px 20px #bbb;
}
ul.images li.selected{
	box-shadow: 0px 0px 20px #333; -moz-box-shadow: 0px 0px 20px #333; -webkit-box-shadow: 0px 0px 20px #333;
}

/* ------------- Footer -------------- */
#footer{
	clear:both;
	text-align:center;
	font-size:80%;
	margin-top:.5em;
}
#footer a{
	color:#ddd;
	text-decoration:none;
}
#footer a:hover{
	text-decoration:underline;
}
#footer ul li{
	display:inline;
	margin-right:.5em;
}
#footer p.copyright{
	color:#999;
	font-size:70%;
	margin:.5em 0;
}